<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세 페이지</title>
</head>
<body>
    <h1>상세 페이지</h1>
    <div>
        <h2>{{myschedule.title}}</h2>
        <p>{{myschedule.memo}}</p>
        <p>{{myschedule.schedule_date}}</p>
        <p>{{myschedule.publish_date}}</p>
        <a href="{% url 'home' %}">홈으로</a>
        <a href="{% url 'edit' schedule.id %}">수정</a>
        <a href="{% url 'delete' schedule.id %}">삭제</a>
    </div>
</body>
</html>
